src/adruino/BufferExtraction/flows.json
[{"id":"ef2ff94bf16cf149","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"b8447df2d499d9f3","type":"mqtt in","z":"ef2ff94bf16cf149","name":"","topic":"ESP32/Cam/ImagePart","qos":"1","datatype":"auto-detect","broker":"22eb6881afaa3e8e","nl":false,"rap":true,"rh":0,"inputs":0,"x":380,"y":280,"wires":[["ef2d181e1dc7709d"]]},{"id":"ef2d181e1dc7709d","type":"function","z":"ef2ff94bf16cf149","name":"function 12","func":"// Get existing buffer or initialize it\nlet imageData = global.get(\"imageData\") || Buffer.alloc(0);\n\n// Check if message is a \"START\" marker\nif (msg.payload.toString() === \"START\") {\n    node.status({ text: \"Started Reception\" });\n    global.set(\"imageData\", Buffer.alloc(0));  // Reset buffer\n    return null;\n}\n\n// Check if message is an \"END\" marker\nif (msg.payload.toString() === \"END\") {\n    node.warn(\"Received END marker, preparing to save and forward image\");\n    node.status({ text: \"Reception Complete!\" });\n\n    // Retrieve full image data\n    let imageData = global.get(\"imageData\");  \n    node.warn(\"Image size: \" + imageData.length + \" bytes\");\n\n    // Save to file\n    let saveMsg = {\n        payload: imageData,\n        filename: \"D:\\\\esp_image\\\\image_\" + Date.now() + \".jpg\",\n        contentType: \"image/jpeg\"\n    };\n    node.warn(\"Saving to: \" + saveMsg.filename);\n\n    // Forward to ESP32-S3 in chunks\n    let chunkSize = 1024 * 8; // 8KB chunks\n    let totalSize = imageData.length;\n    let numChunks = Math.ceil(totalSize / chunkSize);\n    let forwardMsgs = [];\n\n    // Send START marker\n    forwardMsgs.push({\n        topic: \"ESP32/S3/ImagePart\",\n        payload: \"START\",\n        qos: 1,\n        retain: false\n    });\n\n    // Send image chunks\n    for (let i = 0; i < numChunks; i++) {\n        let offset = i * chunkSize;\n        let chunk = imageData.slice(offset, offset + chunkSize);\n        forwardMsgs.push({\n            topic: \"ESP32/S3/ImagePart\",\n            payload: chunk,\n            qos: 1,\n            retain: false\n        });\n    }\n\n    // Send END marker\n    forwardMsgs.push({\n        topic: \"ESP32/S3/ImagePart\",\n        payload: \"END\",\n        qos: 1,\n        retain: false\n    });\n\n    // Reset buffer for next image\n    global.set(\"imageData\", Buffer.alloc(0));\n\n    // Return messages: [saveMsg for file/image nodes, forwardMsgs for MQTT out]\n    return [saveMsg, forwardMsgs];\n}\n\n// Ensure incoming payload is a Buffer\nif (!Buffer.isBuffer(msg.payload)) {\n    node.warn(\"Received non-buffer data, converting to buffer...\");\n    msg.payload = Buffer.from(msg.payload, \"binary\");\n}\n\n// Append new image chunk to buffer\nlet newChunk = msg.payload;\nimageData = Buffer.concat([imageData, newChunk]);\n\nglobal.set(\"imageData\", imageData);\nnode.status({ text: \"Receiving: \" + imageData.length + \" bytes\" });\n\nreturn null;  // Keep collecting until \"END\" is received\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":280,"wires":[["b05162399e49d402","be1f892e9a80d7e7"],["804600230eab9614"]]},{"id":"b05162399e49d402","type":"image","z":"ef2ff94bf16cf149","name":"","width":"1600","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":true,"outputs":1,"x":1000,"y":260,"wires":[[]]},{"id":"be1f892e9a80d7e7","type":"file","z":"ef2ff94bf16cf149","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"setbymsg","x":980,"y":160,"wires":[[]]},{"id":"804600230eab9614","type":"mqtt out","z":"ef2ff94bf16cf149","name":"","topic":"","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"22eb6881afaa3e8e","x":970,"y":340,"wires":[]},{"id":"22eb6881afaa3e8e","type":"mqtt-broker","name":"","broker":"192.168.1.102","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]